

<% @tweets.each do |tweet| %>
  <div class="link row clearfix">
    <h3>
      <%= tweet.user.email %>
      <br><%= link_to  tweet.text, tweet %></td>
      <br/>

      <small class="author">Submitted <%= time_ago_in_words(tweet.created_at) %> ago</small>
    </h3>

  </div>
<%end%>