<% if user_signed_in? %>
<script type="text/javascript">
            window.location.href = "tweets"
        </script>

<% else %>

	<body>

		<div class="jumbotron">
			<h1>Welcom to myTwitter</h1>
			<p>This site builded for learning rails. That's all</p>
			<a class="btn btn-primary btn-block" href="../users/sign_in" style="padding: 7px 10px; font-size: 14px; border-radius: 5px;">Sign in</a>
			<a class="btn btn-danger btn-block"" href="../users/sign_up", style="padding: 7px 10px; font-size: 14px; border-radius: 5px;">Sign up</a>

				
		</div>
		
	</body>


<% end %>