<% if user_signed_in? %>
<script type="text/javascript">
            window.location.href = "tweets"
        </script>
<% end %>

<h1>Welcom to myTwitter</h1>
<p>This site builded for learning rails. That's all</p>

<a class = "btn" href="../users/sign_in">Sign in</a>
<a class = "btn" href="../users/sign_up">Sign up</a>
