<!DOCTYPE html>
<html>
<head>
  <title>MyTwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
	<li class="navbar_buttons" href ="<% new_tweet_path %>">New Tweet</li>
	<li class="navbar_buttons">asdasd</li>
	<li class="navbar_buttons">asdasdasd/li>
</ul>

<%flash[:alert] = "Successfully Logged in..."%>
 
<%= yield %>

</body>
</html>
